go.mod
go.sum
comandos.md
create_files.sh
.env
index.html
prompt.md
copy_code.shmediflow_data_manager
mediflow_linux
mediflow_data_manager
mediflow_linux.tar.gz
mediflow_windows.tar.gz

mediflow.bin
mediflow.exe
data_manager.bin
data_manager.exe
mediflow_linux.tar.gz
mediflow_windows.tar.gz

copy_code.sh
compile.sh