{{define "_secretaria_header.html"}}
<div class="secretaria-header">
    <div class="logo-area">Secretária</div>
    <div class="main-actions">
        <a href="/secretaria/dashboard" {{if eq .ActiveNav "agenda"}}class="active"{{end}}>Agenda</a>
        <a href="/secretaria/patients" {{if eq .ActiveNav "patients"}}class="active"{{end}}>Consultar Pacientes</a>
        <a href="/secretaria/pacientes/novo" {{if eq .ActiveNav "new_patient"}}class="active"{{end}}>Cadastrar Paciente</a>
        <a href="/logout">Sair</a>
    </div>
</div>
{{end}}
